doctype html
html
	head
		title Sylvain
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="/index.style.css")
	body
		header.text-center
			h1 Sylvain Gauthier
			h2 Kind of a  portfolio? (I guess)

		div#main-wrapper
			section
				h2 presentation
				p Okay, so here is just a website I host on my raspberry pie. I have no idea yet what I'll put around here. I'll try to let it become a hub to my different project and experiment... It's gonna be pretty messy, but hopfully I'll have some fun and you'll find something that interrest you.
				p Oh, by the way if you landed on this page randomly, don't hesitate to contact me to explain how you got that lost on internet, or contact me for anything else, I'll be glad to hear from you anyway.
				p have a nice visit.

			section
				h2 My projects
				p eurekafe: a website I designed for two friend that are opening a science café in Toulouse... If you live around here you should takt a look, that could interest you =).
				p scribbing: project on a break but I ;ight continue it one day
				p euler project completion: I tried to solve the challenge of the euleur project in javascript... the code's on github.
				p micellanous: point to this website.

			section
				h2 Who am I ?
				p Good question... 

		footer
			ul
				li @: sylvain.gauthier.2012@gmail.com
				li github: https://github.com/Syl-gauthier

		script(src="/index.js")