@import "~bootstrap/scss/bootstrap.scss";
@import "./style/colors.scss";

body {
	padding: 20px;
	background-color: $bg-blue;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header, footer {
	padding: 40px;
	margin: -20px;
	background-color: $bg-grey;
}

#main-wrapper {
	margin: 40px;
	flex: 1;
}

section {
	margin: 20px;
	padding: 15px;
	background-color: $bg-redl;
	border: 4px solid $bg-redd;
}
